body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #16184d, #2374bb);
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #366e8f;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.file-label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background-color: #5d8199;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    border: none;
}

.file-label:hover {
    background-color: #295b7c;
}

.title {
    text-align: center;
    color: #f8f6f6;
}

.upload-section {
    margin-bottom: 20px;
    text-align: center;
}

.file-input-label {
    display: block;
    margin-bottom: 10px;
}

.file-details {
    margin-top: 10px;
}


.resumes-section, .validated-section {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #0a3655;
    color: whitesmoke;
}

.upload-button, .validate-button, .communicate-button {
    display: block;
    /* width: 80%; */
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #21184f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.upload-button:hover, .validate-button:hover, .communicate-button:hover {
    background-color: #0056b3;
}

.validate-button, .communicate-button {
    padding: 10px 20px;
    background-color: #17356b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.validate-button:hover, .communicate-button:hover {
    background-color: #2980b9;
}

.snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #708adf;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

.snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
